<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>Registration Form - <%= formname %></title>
    <!---Custom CSS File--->
    <!-- <link rel="stylesheet" href="styles/form.css" /> -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <link href="https://getbootstrap.com/docs/5.3/assets/css/docs.css" rel="stylesheet">

    <style>
              /* Import Google font - Poppins */
      @import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap");
      * {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
        font-family: "Poppins", sans-serif;
      }
      body {
        min-height: 100vh;
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 20px;
        background: linear-gradient(to bottom, #000000, #160406, #060606);
      }
      .container {
        position: relative;
        max-width: 700px;
        width: 100%;
        background: #fff;
        padding: 25px;
        border-radius: 8px;
        box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
      }
      .container header {
        font-size: 1.5rem;
        color: #333;
        font-weight: 500;
        text-align: center;
      }
      .container .form {
        margin-top: 30px;
      }
      .form .input-box {
        width: 100%;
        margin-top: 20px;
      }
      .input-box label {
        color: #333;
      }
      .form :where(.input-box input, .select-box) {
        position: relative;
        height: 50px;
        width: 100%;
        outline: none;
        font-size: 1rem;
        color: #707070;
        margin-top: 8px;
        border: 1px solid #ddd;
        border-radius: 6px;
        padding: 0 15px;
      }
      .input-box input:focus {
        box-shadow: 0 1px 0 rgba(0, 0, 0, 0.1);
      }
      .form .column {
        display: flex;
        column-gap: 15px;
      }
      .form .gender-box {
        margin-top: 20px;
      }
      .gender-box h3 {
        color: #333;
        font-size: 1rem;
        font-weight: 400;
        margin-bottom: 8px;
      }
      .form :where(.gender-option, .gender) {
        display: flex;
        align-items: center;
        column-gap: 50px;
        flex-wrap: wrap;
      }
      .form .gender {
        column-gap: 5px;
      }
      .gender input {
        accent-color: rgb(0, 0, 0);
      }
      .form :where(.gender input, .gender label) {
        cursor: pointer;
      }
      .gender label {
        color: #707070;
      }
      .address :where(input, .select-box) {
        margin-top: 15px;
      }
      .select-box select {
        height: 100%;
        width: 100%;
        outline: none;
        border: none;
        color: #707070;
        font-size: 1rem;
      }
      .form button {
        height: 55px;
        width: 100%;
        color: #fff;
        font-size: 1rem;
        font-weight: 400;
        margin-top: 30px;
        border: none;
        border-radius: 12px;
        cursor: pointer;
        transition: all 0.2s ease;
        background: rgb(51, 51, 51);
      }
      .form button:hover {
        background: rgb(31, 31, 31);
      }
      /*Responsive*/
      @media screen and (max-width: 500px) {
        .form .column {
          flex-wrap: wrap;
        }
        .form :where(.gender-option, .gender) {
          row-gap: 15px;
        }
      }

      /* Hide the increment and decrement buttons for number type input */
      input[type=number]::-webkit-inner-spin-button,
      input[type=number]::-webkit-outer-spin-button {
          -webkit-appearance: none;
          margin: 0;
      }

      input[type=number] {
          -moz-appearance: textfield; /* Firefox */
      }
    </style>
  </head>
  <body>
    <section class="container">
        <a href="/" style="text-decoration: none; color: black; font-size: 17px;">« back</a>
      <header>Registration Form <br> (<%= formname %>) </header>
      <form action="/register/<%= name %>" method="post" enctype="multipart/form-data" class="form">
        <div class="input-box">
          <label>Full Name</label>
          <input type="text" placeholder="Enter full name" name="name" required />
        </div>

        <div class="column">
          <div class="input-box">
            <label>Phone Number</label>
            <input type="number" placeholder="Enter phone number" name="phone" required />
          </div>
        </div>

        <div class="column">
          <div class="input-box">
            <label>Whatsapp Number</label>
            <input type="number" placeholder="Enter Whatsapp number" name="whatsapp" required />
          </div>
        </div>

        <div class="input-box">
          <label>Email Address</label>
          <input type="email" placeholder="Enter email address" name="email" required />
        </div>

        <div class="column">
          <div class="input-box">
            <label>College</label>
            <div class="select-box">
              <select id="collegeSelect" name="college" required onchange="showTextBox()">
                <option value="IIEST Shibpur">IIEST Shibpur</option>
                <option value="others">Others</option>
              </select>
            </div>
          </div>
        </div>

        <div class="column">
          <div id="otherCollegeBox" class="input-box" style="display:none;">
            <label>Enter your college name:</label>
            <br>
            <input type="text" id="otherCollegeInput" placeholder="College Name" name="othercollege">
          </div>
        </div>

        <div class="column">
          <div class="input-box">
            <label>Number of MUN attended (mention the conference attended)</label>
            <input type="text" placeholder="Enter No. of MUN attended" name="mun_attended" required />
          </div>
        </div>

        <% if(name=="unsc"){ %>
          <div class="input-box">
            <label>Country Prefence (1st)</label>
            <div class="column">
              <div class="select-box">
                <select name="preference[0]" required>
                  <%- include('./unsc_options.ejs') %>
                </select>
              </div>
            </div>
          </div>
          <br>
          <div class="input-box">
            <label>Country Prefence (2nd)</label>
            <div class="column">
              <div class="select-box">
                <select name="preference[1]" required>
                  <%- include('./unsc_options.ejs') %>
                </select>
              </div>
            </div>
          </div>
          <br>
          <div class="input-box">
            <label>Country Prefence (3rd)</label>
            <div class="column">
              <div class="select-box">
                <select name="preference[2]" required>
                  <%- include('./unsc_options.ejs') %>
                </select>
              </div>
            </div>
          </div>
          <br>
          <div class="input-box">
            <label>Country Prefence (4th)</label>
            <div class="column">
              <div class="select-box">
                <select name="preference[3]" required>
                  <%- include('./unsc_options.ejs') %>
                </select>
              </div>
            </div>
          </div>
        <% } else if(name=="unhrc"){ %>
          <div class="input-box">
            <label>Country Prefence (1st)</label>
            <div class="column">
              <div class="select-box">
                <select name="preference[0]" required>
                  <%- include('./unhrc_options.ejs') %>
                </select>
              </div>
            </div>
          </div>
          <br>
          <div class="input-box">
            <label>Country Prefence (2nd)</label>
            <div class="column">
              <div class="select-box">
                <select name="preference[1]" required>
                  <%- include('./unhrc_options.ejs') %>
                </select>
              </div>
            </div>
          </div>
          <br>
          <div class="input-box">
            <label>Country Prefence (3rd)</label>
            <div class="column">
              <div class="select-box">
                <select name="preference[2]" required>
                  <%- include('./unhrc_options.ejs') %>
                </select>
              </div>
            </div>
          </div>
          <br>
          <div class="input-box">
            <label>Country Prefence (4th)</label>
            <div class="column">
              <div class="select-box">
                <select name="preference[3]" required>
                  <%- include('./unhrc_options.ejs') %>
                </select>
              </div>
            </div>
          </div>
        <% }else if(name=="loksabha"){ %>
          <div class="input-box">
            <label>Party Preference (1st)</label>
            <div class="column">
              <div class="select-box">
                <select name="preference[0]" required>
                  <%- include('./loksabha_options.ejs') %>
                </select>
              </div>
            </div>
          </div>
          <br>
          <div class="input-box">
            <label>Party Prefence (2nd)</label>
            <div class="column">
              <div class="select-box">
                <select name="preference[1]" required>
                  <%- include('./loksabha_options.ejs') %>
                </select>
              </div>
            </div>
          </div>
          <br>
          <div class="input-box">
            <label>Party Prefence (3rd)</label>
            <div class="column">
              <div class="select-box">
                <select name="preference[2]" required>
                  <%- include('./loksabha_options.ejs') %>
                </select>
              </div>
            </div>
          </div>
          <br>
          <div class="input-box">
            <label>Party Prefence (4th)</label>
            <div class="column">
              <div class="select-box">
                <select name="preference[3]" required>
                  <%- include('./loksabha_options.ejs') %>
                </select>
              </div>
            </div>
          </div>
          <br>
        <% }else if(name=="ip"){ %>
          <div class="input-box">
            <label>Portfolio Preference</label>
            <div class="column">
              <div class="select-box">
                <select name="preference[0]" required>
                  <option value="Photographer" selected>Photographer</option>
                  <option value="Reporter">Reporter</option>
                </select>
              </div>
            </div>
          </div>
        <% } %>
          <div>
            <div id="qr-pic" style="display: none;">
            <br>
            <label for="qr">QR Code <br><b>Registration cost →</b> <br> ● With Accomodation: ₹1000 <br> ● Without Accomodation: ₹500 <br> </label>
            <br><br>
            <center>
              <img id="qr" src="/images/qr_sadhan.jpeg" width="75%" style="border-radius: 15px;" alt="">
            </center>
          </div>

          <div class="mb-3">
            <br>
            <label for="formFile" id="qr-label" style="display: none;" class="form-label">Upload screenshot of the payment reciept</label>
            <label for="formFile" id="id-card" class="form-label">Upload <b>Image</b> of your college ID card</label>

            <input class="form-control" name="image" type="file" id="formFile" accept="image/*" required>
            <!-- <input class="form-control" name="image" type="file" id="formFile" required> -->
          </div>
        </div>
        <div style="font-size: small; border: 1px solid black; border-radius: 8px; padding: 5px;">
          You will receive an email after the registration depicting a successful registration.
          If you did not receive the mail, then please contact us.
          <b style="color: red;">
            (Make sure to check the Spam Folder)
          </b>
        </div>
        <button>Submit</button>
      </form>
    </section>

    <script>
      function showTextBox() {
      var selectBox = document.getElementById("collegeSelect");
      var otherCollegeBox = document.getElementById("otherCollegeBox");
      var otherCollegeInput = document.getElementById("otherCollegeInput");
      var idCardLabel= document.getElementById("id-card")
      var qrLabel= document.getElementById("qr-label");
      var qrSection= document.getElementById("qr-pic");

        if (selectBox.value === "others") {
          otherCollegeBox.style.display = "block";
          otherCollegeInput.setAttribute("required", "required");
          qrLabel.style.display="block";
          qrSection.style.display= "block"
          idCardLabel.style.display= "none";
        } else {
          otherCollegeBox.style.display = "none";
          otherCollegeInput.removeAttribute("required");
          idCardLabel.style.display= "block";
          qrLabel.style.display= "none";
          qrSection.style.display= "none";
        }
      }

      document.getElementById("formFile").addEventListener("change", function() {
      var file = this.files[0];
      var fileType = file.type.split('/')[0];

        if (fileType !== "image") {
          alert("Please select an image file.");
          this.value = "";
        }
      });

    </script>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/umd/popper.min.js" integrity="sha384-I7E8VVD/ismYTF4hNIPjVp/Zjvgyol6VFvRkX/vR+Vc4jQkC+hVqc2pM8ODewa9r" crossorigin="anonymous"></script>
  </body>
</html>